#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
};

/ {
    combos {
        compatible = "zmk,combos";
        tab { bindings = <&kp TAB>; key-positions = <11 12>; };
        shift_tab { bindings = <&kp LS(TAB)>; key-positions = <12 13>; };
        muhennkann { bindings = <&to_layer_0 INT_MUHENKAN>; key-positions = <0 1>; };
        double_quotation { bindings = <&kp DOUBLE_QUOTES>; key-positions = <20 21>; };
        eq { bindings = <&kp EQUAL>; key-positions = <8 9>; };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 2 &kp INT_MUHENKAN>;
            label = "TO_LAYER_0";
        };

        enter_and_to_0: num_to_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ENTER &to 0>;
            label = "NUM_TO_ENTER";
        };

        // --- ハイブリッドIMEマクロ (US/JIS両対応) ---
        
        // 1タップ：IME ON + Winレイヤー
        ime_on_hybrid: ime_on_hybrid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // 日本語:変換(INT_HENKAN) / 英語:Language1 (Macの英数/かなに相当)
            bindings = <&kp INT_HENKAN &kp LANGUAGE_1 &to 0>;
            label = "IME_ON_HYBRID";
        };

        // 2タップ：IME OFF + NUMレイヤー
        ime_off_hybrid_num: ime_off_hybrid_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // 日本語:無変換(INT_MUHENKAN) / 英語:Language2 (Macの英数/かなに相当)
            bindings = <&kp INT_MUHENKAN &kp LANGUAGE_2 &to 1>;
            label = "IME_OFF_HYBRID_NUM";
        };

        // 3タップ：IME OFF + Winレイヤー
        ime_off_hybrid_win: ime_off_hybrid_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT_MUHENKAN &kp LANGUAGE_2 &to 0>;
            label = "IME_OFF_HYBRID_WIN";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // タップダンス設定
        ime_td: ime_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "IME_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&ime_on_hybrid>, <&ime_off_hybrid_num>, <&ime_off_hybrid_win>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Win_layer {
            bindings = <
&kp TAB         &kp W           &kp E           &kp R                           &kp T                                                                                                                                &kp Y        &kp U    &lt 5 I    &kp O    &kp P
&kp A           &kp S           &kp D           &kp F                           &kp G        &kp LS(LG(S))                    &kp INT_MUHENKAN                       &kp H        &kp J    &kp K      &kp L    &kp MINUS
&kp Z           &kp X           &kp C           &kp V                           &kp B        &kp Q                            &kp GRAVE                              &kp N        &lt 6 M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_SHIFT  &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 2 BACKSPACE  &lt 6 SPACE  &lt_to_layer_0 3 LANGUAGE_6      &ime_td  &lt 5 ENTER                                                              &to 1
            >;
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };
        
        // ... 他のレイヤー (NUM, Win_FUNCTION, ARROW, MOUSE, SCROLL, BT, symbol) は変更なし ...
    };
};
